[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.7"

[scripts]
flask = "flask run"

[packages]

flask = "*"
"flake8" = "*"
pytest = "*"
coverage = "*"
"e1839a8" = {path = ".", editable = true}
